* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #515151;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  padding: 0px 20px;
  text-align: center;
  display: none;
}

h2 {
  color: #7acedd;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 800;
}

h3 {
  color: #515151;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

h4 {
  color: #c288e4;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  color: #515151;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #515151;
}

input {
  color: inherit;
  font-family: inherit;
}

textarea {
  color: #515151;
  font-family: "Poppins", sans-serif;
}

.block, .equipo__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  padding: 2em;
}
.block__btn, .btn-conocer-mas-nosotros, .btn-unirme, .tu-tranquilidad__btn {
  background-color: rgba(186, 81, 251, 0.9176470588);
  color: #8003c8;
  border: solid 0.2em #8003c8;
  font-weight: 600;
  border-radius: 2em;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  text-decoration: none;
}
.block__btn:hover, .btn-conocer-mas-nosotros:hover, .btn-unirme:hover, .tu-tranquilidad__btn:hover {
  background-color: #90e0ef;
  color: #00b4d8;
  border: solid 0.2em #00b4d8;
  font-size: 1rem;
  font-weight: 600;
}

.btn-unirme {
  font-size: 1rem;
  margin: 1em;
  background-color: rgba(186, 81, 251, 0.9176470588);
  color: #00b4d8;
  border: solid 0.2em #00b4d8;
}

.titulo-ppal {
  color: #515151;
  text-align: center;
  font-size: 1.7rem;
  padding: 1em;
}
@media (min-width: 1024px) {
  .titulo-ppal {
    font-size: 2rem;
  }
}

.pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 0em 1.5em;
  gap: 1em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .pasos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .pasos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.5em;
    padding-bottom: 2em;
    gap: 1.5em;
  }
}
.pasos__tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(210, 162, 238, 0.4078431373);
  border: 0.2em solid rgba(115, 10, 141, 0.6078431373);
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 2em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .pasos__tarjeta {
    font-size: 1rem;
    height: 18em;
  }
}
@media (min-width: 1024px) {
  .pasos__tarjeta {
    font-size: 1rem;
    height: 21em;
  }
}
.pasos__tarjeta:hover {
  background-color: rgba(201, 130, 245, 0.4509803922);
}
.pasos__icono {
  font-size: 2.2rem;
  padding: 0.3em;
  color: #80509d;
}
.pasos__titulo {
  font-size: 1.3em;
  color: #80509d;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.pasos__p {
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    font-size: 1rem;
    margin: 0 2em;
  }
}
@media (min-width: 658px) and (max-width: 1023px) and (min-width: 1024px) {
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 1em;
  }
}
@media (min-width: 658px) and (max-width: 1023px) {
  .servicios__uno {
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .servicios__uno {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    padding: 0em 1em;
    gap: 1em;
    margin: 1em 1em 1em 1em;
  }
}
@media (min-width: 658px) and (max-width: 1023px) {
  .servicios__dos {
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .servicios__dos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    padding: 0em 1em;
    gap: 1em;
    margin: 1em 1em 5em 1em;
  }
}
.servicios__tarjeta {
  background-color: rgba(210, 162, 238, 0.4078431373);
  border: 0.2em solid rgba(115, 10, 141, 0.6078431373);
  border: 0.2em solid rgba(115, 10, 141, 0.6078431373);
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
  width: 20em;
  height: 18em;
  padding: 1em 1em 0em 1em;
  margin: 10px;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .servicios__tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    font-size: 1rem;
    padding: 1em;
    height: 19em;
  }
}
.servicios__tarjeta:hover {
  background-color: rgba(201, 130, 245, 0.4509803922);
}
.servicios__icono {
  font-size: 2.2rem;
  padding: 0.3em;
  color: #80509d;
}
.servicios__tarjeta-titulo {
  color: #80509d;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer {
  background-color: rgba(242, 241, 241, 0.6039215686);
  color: #515151;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 1.5fr 1fr 0.5fr;
  text-decoration: none;
  font-size: 1rem;
  text-align: 1rem;
  padding: 1em 0em 0em 0em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    font-size: 1rem;
    padding: 1em 0em 0em 0em;
  }
}
@media (min-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    font-size: 1rem;
    padding-top: 2em;
  }
}
.footer__menu {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1rem;
  padding: 1.5em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    padding: 1em 0em 1em 3em;
  }
}
@media (min-width: 1024px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    padding: 0em 0em 2em 8em;
  }
}
.footer__mas-info {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1rem;
  padding: 1.5em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .footer__mas-info {
    grid-column: 2/3;
    grid-row: -3/-2;
  }
}
@media (min-width: 1024px) {
  .footer__mas-info {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0em 0em 0em 8em;
  }
}
.footer__num-contacto {
  grid-column: 2/3;
  grid-row: -3/-2;
  font-size: 1rem;
  padding: 1em;
  text-decoration: none;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .footer__num-contacto {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  .footer__num-contacto {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 0em 0em 0em 8em;
  }
}
.footer__redes {
  background-color: #f0eeee;
  grid-column: -3/-1;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 1em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .footer__redes {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100vw;
  }
}
@media (min-width: 1024px) {
  .footer__redes {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: center;
  }
}

.ico-facebook {
  color: #515151;
}

.ico-facebook:hover {
  color: rgba(201, 130, 245, 0.4509803922);
}

.ico-instagram {
  color: #515151;
}

.ico-instagram:hover {
  color: rgba(201, 130, 245, 0.4509803922);
}

.ico-tik-tok {
  color: #515151;
}

.ico-tik-tok:hover {
  color: rgba(201, 130, 245, 0.4509803922);
}

.contenedor-header {
  background-color: #ffffff;
  padding: 1em;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contenedor-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.logo-pet-sitters {
  height: 50px;
  padding: 5px;
}

.icono-menu-mobile {
  width: 40px;
  font-size: 1rem;
  padding: 1em;
}

.contenedor-inicio-reg {
  display: none;
  background-color: #ffffff;
}

@media (min-width: 658px) and (max-width: 1023px) {
  /* ----header---- */
  .header {
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .icono-menu-mobile {
    display: none;
  }
  .contenedor-inicio-reg {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    padding-right: 4em;
    gap: 1em;
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .btn-sesion {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 10px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  /* ----header---- */
  .header {
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .icono-menu-mobile {
    width: 50px;
    display: none;
  }
  .btn-sesion {
    background-color: rgb(215, 215, 215);
    font-weight: 600;
    min-width: 130px;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px 10px;
  }
  .contenedor-inicio-reg {
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
  }
  .registrarme {
    font-size: 1rem;
    padding-right: 4em;
  }
}
nav ul {
  color: #515151;
  font-family: "Poppins", sans-serif;
  display: none;
  text-decoration: none;
}
nav ul li {
  font-size: 1rem;
  padding: 0.2em;
  text-align: center;
  list-style: none;
}
nav ul li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #515151;
}
@media (min-width: 658px) and (max-width: 1023px) {
  nav {
    grid-column: 1/3;
    background-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  nav {
    background-color: #ffffff;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

@media (min-width: 658px) and (max-width: 1023px) {
  .nav-list {
    background-color: #f0eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .nav-list {
    background-color: #f0eeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    gap: 3em;
    width: 100%;
    padding: 1em 0em;
  }
}

.portada-index {
  height: 50vh;
  background-color: #ffffff;
  background-image: url(../img/pet-sitter-mimo.jpg);
  background-size: cover;
  background-position: center;
}

.tu-tranquilidad {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  gap: 1em;
  background-color: rgba(228, 228, 228, 0.3960784314);
}
@media (min-width: 1024px) {
  .tu-tranquilidad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    font-size: 1rem;
    padding: 2em 0em;
  }
}
.tu-tranquilidad__img {
  font-size: 1rem;
  height: 20em;
  background-image: url(../img/pet-sitters-gato-rascador-juguete.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 1024px) {
  .tu-tranquilidad__img {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    height: 20em;
    font-size: 1rem;
    height: 25em;
    background-attachment: scroll;
  }
}
.tu-tranquilidad__text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1.5em;
}
@media (min-width: 1024px) {
  .tu-tranquilidad__text .tu-tranquilidad-text {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    font-size: 1rem;
    padding: 2em;
    gap: 0.2em;
  }
}
.tu-tranquilidad__titulo {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .tu-tranquilidad__titulo {
    font-size: 2.5em;
  }
}
@media (min-width: 1024px) {
  .tu-tranquilidad__titulo {
    font-size: 2em;
    text-align: left;
  }
}
.tu-tranquilidad__p {
  text-align: center;
}
@media (min-width: 1024px) {
  .tu-tranquilidad__p {
    text-align: left;
  }
}
.tu-tranquilidad__block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  padding: 1em;
}
@media (min-width: 1024px) {
  .tu-tranquilidad__block-btn {
    display: flex;
    justify-content: start;
  }
}

.unite-comunidad {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-size: 1rem;
  height: 25em;
  background-image: url(../img/pet-sitters-comunidad.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
@media (min-width: 1024px) {
  .unite-comunidad {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 45em;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: bottom;
  }
}
.unite-comunidad__titulo {
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 1024px) {
  .unite-comunidad__titulo {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
  }
}
.unite-comunidad__input {
  text-align: center;
}

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(228, 228, 228, 0.3960784314);
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    font-size: 1rem;
    padding: 2em 0em 2em 2em;
  }
}
.nosotros__portada {
  background-image: url(../img/pet-sitters-gato-en-cama.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-size: 1rem;
  height: 30em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .nosotros__portada {
    height: 60vh;
  }
}
@media (min-width: 1024px) {
  .nosotros__portada {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    height: 20em;
    font-size: 1rem;
    height: 25em;
    background-attachment: scroll;
  }
}

@media (min-width: 658px) and (max-width: 1023px) {
  .quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    padding: 1em;
  }
}
@media (min-width: 1024px) {
  .quienes-somos {
    font-size: 1rem;
    padding: 2em 0em 3em 0em;
  }
}
.quienes-somos__titulo {
  color: #515151;
  font-size: 2rem;
  padding: 1em 0em 0em 0em;
  text-align: center;
}
@media (min-width: 1024px) {
  .quienes-somos__titulo {
    font-size: 2rem;
    padding: 0em 0em 0em 1em;
    text-align: left;
  }
}
.quienes-somos__texto {
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}
@media (min-width: 1024px) {
  .quienes-somos__texto {
    font-size: 1rem;
    padding: 1em 5em 2em 2em;
    text-align: left;
  }
}
.quienes-somos__strong {
  font-size: 1.1em;
}

.nuestro-equipo__titulo {
  color: #7acedd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5em;
}
@media (min-width: 1024px) {
  .nuestro-equipo__titulo {
    display: flex;
    flex-direction: row;
  }
}

.equipo {
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .equipo {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }
}
.equipo__foto {
  font-size: 1rem;
  height: 15em;
  padding: 2em 0em 0em 0em;
}
.equipo__nombres {
  color: rgba(186, 81, 251, 0.9176470588);
  font-size: 1.5rem;
  padding: 1em 0em 0em 0em;
}
.equipo__nombres:hover {
  color: #7acedd;
}
.equipo__sobre {
  color: #515151;
  font-size: 1rem;
  padding: 0em 2em;
}
@media (min-width: 1024px) {
  .equipo__sobre {
    font-size: 1rem;
    padding: 1em 4em 0em 4em;
  }
}
@media (min-width: 1024px) {
  .equipo__jose {
    font-size: 1rem;
    padding: 0em 5em 0em 8.5em;
  }
}

.unite-comunidad-nosotros {
  background-image: url(../img/patitas-perro-cama-pet-sitters.jpg);
  background-color: #515151;
  font-size: 1rem;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (min-width: 1024px) {
  .unite-comunidad-nosotros {
    font-size: 1rem;
    margin: 5em 0em 0em 0em;
    height: 40em;
  }
}

.servicios__portada {
  background-color: #515151;
  background-image: url(../img/como-perros-y-gatos.jpg);
  resize: both;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1rem;
  height: 30em;
}

.servicios__titulo-gral {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5em;
}

.servicios__bloque-pet-sitter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-size: 1rem;
  height: 25em;
  background-image: url(../img/pet-sitters-gato-persona.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
@media (min-width: 1024px) {
  .servicios__bloque-pet-sitter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 45em;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: bottom;
  }
}
.servicios__bloque-pet-sitter__titulo {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 1024px) {
  .servicios__bloque-pet-sitter__titulo {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
  }
}
.servicios__bloque-pet-sitter__input {
  text-align: center;
}

.faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.3960784314);
  flex-direction: column;
  font-size: 1rem;
  gap: 5em;
  text-align: center;
  padding: 4em;
  padding-top: 1em;
}
.faqs__titulo {
  color: #7acedd;
  font-size: 2rem;
  justify-self: center;
  text-align: center;
  padding: 1em 0em 0em 0em;
}
@media (min-width: 1024px) {
  .faqs {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .faqs__pregunta {
    text-align: left;
  }
}

div article h3 {
  color: #c288e4;
  font-size: 1.5rem;
}

div article h4 {
  color: #7acedd;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em;
}
@media (min-width: 1024px) {
  div article h4 {
    padding: 0;
  }
}

.unite-comunidad-faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  font-size: 1rem;
  height: 25em;
  background-image: url(../img/pet-sitters-gato-en-cama-faqs-2.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
@media (min-width: 1024px) {
  .unite-comunidad-faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 45em;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: bottom;
  }
}

.contacto {
  font-size: 1rem;
  padding-bottom: 5em;
}
.contacto__portada {
  background-image: url(../img/pet-sitters-contacto-portada-2.jpg);
  height: 60vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-position: center;
}
.contacto__titulo {
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-size: 2rem;
  padding: 1em 0em 0em 1em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__titulo {
    color: #7acedd;
    font-size: 2rem;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding: 1em 0em 0em 1em;
  }
}
@media (min-width: 1024px) {
  .contacto__titulo {
    color: #7acedd;
    font-size: 2rem;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding: 1em 0em 0em 1em;
  }
}
.contacto__texto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1em 2em 2em 2em;
  text-align: center;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__texto {
    font-size: 1rem;
    padding: 2em 2em 0em 2em;
  }
}
@media (min-width: 1024px) {
  .contacto__texto {
    font-size: 1.2rem;
    padding: 2em 8em 2em 8em;
  }
}
.contacto__formulario {
  background-color: rgba(166, 140, 245, 0.2823529412);
  color: #515151;
  border: solid 0.2em #8003c8;
  border-radius: 2em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1rem;
  padding: 2em;
  margin: 1em 2em 0em 2em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__formulario {
    font-size: 1rem;
    margin: 7em;
    border-radius: 2em;
    gap: 1.5em;
  }
}
@media (min-width: 1024px) {
  .contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0px 200px 50px 200px;
    padding: 3em 3em 3em 3em;
    border-radius: 2em;
    gap: 1.5em;
  }
}

@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mensaje-mobile {
    display: none;
  }
}

.mensaje-tablet {
  display: none;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-tablet {
    display: block;
  }
}
@media (min-width: 1024px) {
  .mensaje-tablet {
    display: none;
  }
}

.mensaje-desktop {
  display: none;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mensaje-desktop {
    display: block;
  }
}

.contacto {
  font-size: 1rem;
  padding-bottom: 5em;
}
.contacto__portada {
  background-image: url(../img/pet-sitters-contacto-portada-2.jpg);
  height: 60vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-position: center;
}
.contacto__titulo {
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-size: 2rem;
  padding: 1em 0em 0em 1em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__titulo {
    color: #7acedd;
    font-size: 2rem;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding: 1em 0em 0em 1em;
  }
}
@media (min-width: 1024px) {
  .contacto__titulo {
    color: #7acedd;
    font-size: 2rem;
    justify-content: center;
    justify-self: center;
    text-align: center;
    padding: 1em 0em 0em 1em;
  }
}
.contacto__texto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1em 2em 2em 2em;
  text-align: center;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__texto {
    font-size: 1rem;
    padding: 2em 2em 0em 2em;
  }
}
@media (min-width: 1024px) {
  .contacto__texto {
    font-size: 1.2rem;
    padding: 2em 8em 2em 8em;
  }
}
.contacto__formulario {
  background-color: rgba(166, 140, 245, 0.2823529412);
  color: #515151;
  border: solid 0.2em #8003c8;
  border-radius: 2em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1rem;
  padding: 2em;
  margin: 1em 2em 0em 2em;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .contacto__formulario {
    font-size: 1rem;
    margin: 7em;
    border-radius: 2em;
    gap: 1.5em;
  }
}
@media (min-width: 1024px) {
  .contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0px 200px 50px 200px;
    padding: 3em 3em 3em 3em;
    border-radius: 2em;
    gap: 1.5em;
  }
}

@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mensaje-mobile {
    display: none;
  }
}

.mensaje-tablet {
  display: none;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-tablet {
    display: block;
  }
}
@media (min-width: 1024px) {
  .mensaje-tablet {
    display: none;
  }
}

.mensaje-desktop {
  display: none;
}
@media (min-width: 658px) and (max-width: 1023px) {
  .mensaje-desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mensaje-desktop {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
