$fuente-principal: 'Poppins', sans-serif;

$color-blanco: #ffffff;
$color-negro: #000000;

$color-primario: #515151;
$color-secundario: #c288e4;
$color-terciario: #7acedd;

$color-nav: #f0eeee;

$color-bloques-secciones:#e4e4e465;


$color-btn-text: #c288e4;
$color-btn-border: #c288e4;
$color-fondo-btn: #a68cf548;;


$color-btn-text-hover: #00b4d8;
$color-btn-border-hover: #00b4d8;
$color-fondo-btn-hover: #90e0ef;

$color-fondo-btn-menu: #a68cf548; 


$color-header: #e4e4e4;

$color-texto-tarjeta: #9762b6;
$color-fondo-tarjeta: #d2a2ee68;
$color-borde-tarjeta: #c288e4;
$color-fondo-tarjeta-hover:#c982f573;


$color-fondo-footer:#f2f1f19a;
$color-fondo-footer-redes:#f0eeee;

$color-fondo-formulario: #a68cf548; 






* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: $fuente-principal;
}

h1 {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: 1rem;
    padding: 0px 20px;
    text-align: center;
    display: none;
}

h2 {
    color: $color-terciario;
    font-family: $fuente-principal;
    font-size: 1.2rem;
    font-weight: 800;
}

h3 {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: 1.3rem;
}

h4 {
    color: $color-secundario;
    font-family: $fuente-principal;
    font-size: 1.1rem;
    font-weight: 400;
}

p {
    color: $color-primario;
    font-family: $fuente-principal;
    font-weight: normal;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color-primario;
}

i{
    font-size: 1rem;
    padding: 0.5em;
    height: 200px;
}


input {
    color: inherit;
    font-family: inherit;
}

textarea {
    color: $color-primario;
    font-family: $fuente-principal;
}




@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-box ($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}







@mixin tablet () {
    @media (min-width: 658px) and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 1024px) {
        @content;
    }
}

