$fuente-principal: 'Poppins', sans-serif;

$color-primario: #515151;
$color-secundario: #D2A2EE;
$color-blanco: #ffffff;
$color-negro: #000000;

$color-bloques-secciones:#e4e4e465;


$color-fondo-btn: #c982f5cc;
$color-btn-text: #8003c8;
$color-btn-border: #8003c8;


$color-fondo-btn-hover: #90e0ef;
$color-btn-text-hover: #00b4d8;
$color-btn-border-hover: #00b4d8;

$color-header: #e4e4e4;

$color-fondo-tarjeta: #d2a2ee68;
$color-borde-tarjeta: #64037c;
$color-fondo-tarjeta-hover:#c982f5cc;

$color-fondo-footer:#f2f1f19a;
$color-fondo-footer-redes:#f0eeee;

$MQ-mobile: 320px;





* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}



body {
    font-family: $fuente-principal;
}

h1 {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: 10px;
    padding: 0px 20px;
    text-align: center;
    display: none;
}

h2 {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: 22px;
    font-weight: 800;
}

h3 {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: 20px;
}

h4 {
    color: $color-secundario;
    font-family: $fuente-principal;
    font-size: 18px;
    font-weight: 400;
}

p {
    color: $color-primario;
    font-family: $fuente-principal;
    font-weight: normal;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color-primario;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-box ($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


@mixin tablet () {
    @media (min-width: 658px) and (max-width: 1023px) {
        @content;
    }
}


@mixin desktop() {
    @media (min-width: 1024px) {
        @content;
    }
}

