.contacto {
    font-size: 1rem;
    padding-bottom: 5em;


    &__portada {
        background-image: url(../img/pet-sitters-contacto-portada-2.jpg);
        height: 60vh;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-position: center;
    }

    &__titulo {
        justify-content: center;
        justify-self: center;
        text-align: center;
        font-size: 2rem;
        padding: 1em 0em 0em 1em;

        @include tablet {
            color: $color-terciario;
            font-size: 2rem;
            justify-content: center;
            justify-self: center;
            text-align: center;
            padding: 1em 0em 0em 1em;
        }

        @include desktop {
            color: $color-terciario;
            font-size: 2rem;
            justify-content: center;
            justify-self: center;
            text-align: center;
            padding: 1em 0em 0em 1em;
        }
    }


    &__texto {
        font-family: $fuente-principal;
        font-weight: 400;
        font-size: 1rem;
        padding: 1em 2em 2em 2em;
        text-align: center;


        @include tablet {
            font-size: 1rem;
            padding: 2em 2em 0em 2em;
        }

        @include desktop {
            font-size: 1.2rem;

            padding: 2em 8em 2em 8em;
        }

    }


    &__formulario {
        background-color: $color-fondo-formulario;
        color: $color-primario;
        border: solid 0.2em $color-btn-border;
        border-radius: 2em;
        gap: 2em;

        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-size: 1rem;
        padding: 2em;
        margin: 1em 2em 0em 2em;


        @include tablet {
            font-size: 1rem;
            margin: 7em;
            border-radius: 2em;
            gap: 1.5em;
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            margin: 0px 200px 50px 200px;
            padding: 3em 3em 3em 3em;
            border-radius: 2em;
            gap: 1.5em;
        }


    }

}



.mensaje-mobile{
    @include tablet{
        display: none;
    }

    @include desktop{
        display: none;
    }
}



.mensaje-tablet{
    display: none;

@include tablet{
    display: block;
}

@include desktop{
    display: none;
}

}


.mensaje-desktop{
    display: none;

@include tablet{
    display: none;
}

@include desktop{
    display: block;
}
}