.portada-index {
    height: 50vh;
    background-color: $color-blanco;
    background-image: url(../img/pet-sitter-mimo.jpg);
    background-size: cover;
    background-position: center;
}

.tu-tranquilidad {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    gap: 1em;
    background-color: $color-bloques-secciones;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        font-size: 1rem;
        padding: 2em 0em;
    }

    &__img {
        font-size: 1rem;
        height: 20em;
        background-image: url(../img/pet-sitters-gato-rascador-juguete.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        @include desktop {
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 1rem;
            height: 20em;
            font-size: 1rem;
            height: 25em;
            background-attachment: scroll;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding: 1.5em;

        @include desktop {
            .tu-tranquilidad-text {
                grid-column: 2/3;
                grid-row: 1/2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: left;
                text-align: left;
                font-size: 1rem;
                padding: 2em;
                gap: 0.2em;
            }
        }
    }


    &__titulo {
        font-size: 2rem;
        text-align: center;

        @include tablet {
            font-size: 2.5em;
        }

        @include desktop {
            font-size: 2em;
            text-align: left;
        }
    }

    &__p {
        text-align: center;

        @include desktop {
            text-align: left;
        }
    }

    &__block-btn {
        @include flex-center;
        flex-direction: row;
        font-size: 1rem;
        padding: 1em;

        @include desktop {
            display: flex;
            justify-content: start;
        }
    }
}

.unite-comunidad {
    @include flex-center;
    text-align: center;
    background-color: $color-blanco;
    font-size: 1rem;
    height: 25em;
    background-image: url(../img/pet-sitters-comunidad.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

    @include desktop {
        @include flex-center;
        font-size: 1rem;
        height: 45em;
        flex-direction: column;
        text-align: center;
        background-size: cover;
        background-position: bottom;
    }


    &__titulo {
        font-size: 2.3rem;
        color: $color-blanco;
        text-align: center;

        @include desktop {
            font-size: 3rem;
            color: $color-blanco;
            text-align: center;
        }
    }

    &__input {
        text-align: center;
    }
}