.banner-ppal-faqs {
    background-image: url(../img/perro-con-dos-colas.png);
    background-color: #515151;

    resize: both;
    overflow: auto;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;

    min-width: none;
    min-height: 800px;
}

.titulo-faqs {
    color: #79CACC;
    letter-spacing: 10px;
    text-align: center;
    padding: 40px;
}

div article h3 {
    color: #875EAA;
}

.contacto-formulario {
    background-color: #95959559;
}

.pregunta-uno {
    padding: 40px;
}

.pregunta-dos {
    padding: 40px;
}

.pregunta-tres {
    padding: 40px;
}

.pregunta-cuatro {
    padding: 40px;
}

.preguntacinco {
    padding: 40px;
}

.bloque-comunidad-faqs {
    background-color: #515151;
    background-image: url(../img/perro-gato-pet-sitters.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    min-width: none;
    min-height: 600px;
}

