.servicios__portada {
    background-color: $color-primario;
    background-image: url(../img/como-perros-y-gatos.jpg);

    resize: both;
    overflow: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-size: 1rem;
    height: 30em;
}

.servicios__titulo-gral {
    @include flex-center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5em;
}

.servicios__bloque-pet-sitter{
    @include flex-center;
    text-align: center;
    background-color: $color-blanco;
    font-size: 1rem;
    height: 25em;
    background-image: url(../img/pet-sitters-gato-persona.jpg);
    
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    @include desktop {
        @include flex-center;
        font-size: 1rem;
        height: 45em;
        flex-direction: column;
        text-align: center;
        background-size: cover;
        background-position: bottom;
    }


    &__titulo {
        font-size: 2rem;
        color: $color-blanco;
        text-align: center;

        @include desktop {
            font-size: 3rem;
            color: $color-blanco;
            text-align: center;
        }
    }

    &__input {
        text-align: center;
    }
}