
//--INDEX--//
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    padding: 2em;

    &__btn {
        background-color: $color-fondo-btn;
        color: $color-btn-text;
        border: solid 0.2em $color-btn-border;
        font-weight: 600;
        border-radius: 2em;
        font-size: 1rem;
        padding: 0.5em 1.5em;
        text-decoration: none;
    }

    &__btn:hover {
        background-color: $color-fondo-btn-hover;
        color: $color-btn-text-hover;
        border: solid 0.2em $color-btn-border-hover;
        font-size: 1rem;
        font-weight: 600;
    }
}

.tu-tranquilidad__btn {
    @extend .block__btn;
}

.btn-unirme {
    @extend .block__btn;
    font-size: 1rem;
    margin: 1em;
    background-color: $color-secundario;
    color: $color-blanco;
    border: solid 0.2em $color-secundario;
}



//----NOSOTROS-EQUIPO---//
.equipo__btn {
    @extend .block;
}

.btn-conocer-mas-nosotros {
@extend .block__btn;
}

//----INICIAR SESION---//

.btn-sesion {
    font-size: 1em;
    background-color: $color-fondo-btn-menu;
    font-size: 1rem;
    padding: 0.6em 1em 0.6em 1em;
    border: 3px solid $color-secundario;
    border-radius: 2em;
    
    color: $color-secundario;
    font-weight: 600;
}

.btn-sesion:hover{
    background-color: $color-fondo-btn-hover;
    color: $color-btn-text-hover;
    font-weight: 600;
    border: 3px solid $color-btn-border-hover;
}