//---Pasos----//
.titulo-ppal {
    color: $color-primario;
    text-align: center;
    font-size: 1.7rem;
    padding: 1em;
}

.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0em 1.5em;
    gap: 1em;


    &__tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-fondo-tarjeta;
        border: 0.2em solid $color-borde-tarjeta;
        font-size: 1rem;
        padding: 1em;
        border-radius: 2em;
    }

    &__icono {
        font-size: 2.2rem;
        padding: 0.1em;
    }

    &__titulo{
    font-size: 1.3em;
}

&__p{
    font-size: 1rem;
    padding: 2em;
    text-align: center;
}

}


//--TABLET--//
@media (min-width: 658px) and (max-width: 1023px) {

    .container-steps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
    }

}


//--DESKTOP--//
@media (min-width: 1024px) {

    .titulo-ppal {
        font-size: 2rem;
    }

    .container-steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        font-size: 1rem;
        padding-top: 0.5em;
        padding-bottom: 2em;
        gap: 1.5em;
    }


}