.footer {
    background-color: $color-fondo-footer;
    color: $color-primario;
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 1.5fr 1fr 0.5fr;
    text-decoration: none;
    font-size: 1rem;
    text-align: 1rem;
    padding: 1em 0em 0em 0em;

@include tablet{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    font-size: 1rem;
    padding: 1em 0em 0em 0em;
}

@include desktop{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.5fr;
        font-size: 1rem;
        padding-top: 2em;
    }

    
&__menu{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    padding: 1.5em;

@include tablet{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    padding: 1em 0em 1em 3em;
}

@include desktop {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    padding: 0em 0em 2em 8em;
}

}

&__mas-info{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1rem;
    padding: 1.5em;

    @include tablet {
        grid-column: 2/3;
        grid-row: -3/-2;
    }

@include desktop {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0em 0em 0em 8em;

}

}

&__num-contacto{
    grid-column: 2/3;
    grid-row: -3/-2;
    font-size: 1rem;
    padding: 1em;
    text-decoration: none;

@include tablet{
    grid-column: 3/4;
    grid-row: 1/2;
}

@include desktop{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 0em 0em 0em 8em;
}

}

&__redes{
    background-color: $color-fondo-footer-redes;
    grid-column: -3/-1;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 1em;

@include tablet{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100vw;
}

@include desktop{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: center;
}
}
}

.ico-facebook{
    color: $color-primario;
}

.ico-facebook:hover{
    color: $color-fondo-tarjeta-hover;
}

.ico-instagram{
    color: $color-primario;
}

.ico-instagram:hover{
    color: $color-fondo-tarjeta-hover;
}

.ico-tik-tok{
    color: $color-primario;
}

.ico-tik-tok:hover{
    color: $color-fondo-tarjeta-hover;
}