//--HEADER MOBILE Y TABLET--//

.menu-desplegable-mobile {


    @include desktop {
        display: none;
    }
}

.nav-item {
    align-self: flex-start;
    font-size: 1rem;
    padding-left: 5em;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
}


.inicio-registrarme {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-top: 10em;
    padding-left: 0.6em;
    gap: 2em;

}



.registrarme {
    font-size: 1em;
    padding: 0.8em 1em 0.8em 1em;
}


//--HEADER DESKTOP--//

.menu-desktop {
    display: none;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: block;
    }
}


.contenedor-header {
    background-color: $color-blanco;
    padding: 1em;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding: 0.8em;
}


.logo-pet-sitters {
    height: 50px;
    padding: 5px;
}


.icono-menu-mobile {
    width: 40px;
    font-size: 1rem;
    padding: 1em;
}


.contenedor-inicio-reg {
    display: none;
    background-color: $color-blanco;
}

@media (min-width: 1024px) {

    .header {
        background-color: #e4e4e4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .icono-menu-mobile {
        width: 50px;
        display: none;
    }

    .btn-sesion {
        font-size: 1em;
        background-color: $color-fondo-btn-menu;
        font-size: 1rem;
        padding: 0.8em 1em 0.8em 1em;
        border-radius: 2em;
    }

    .btn-sesion:hover{
        background-color: $color-fondo-btn-hover;
    }

    .contenedor-inicio-reg {
        background-color: $color-blanco;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
    }

    .registrarme {
        font-size: 1rem;
        padding-right: 4em;
    }

}


@media (min-width: 1024px) {

    .nav-list{
        padding: 0;
        margin: 0;
    }

    nav{
        padding: 0;
        margin: 0;
    }
}