nav {
    ul {
        color: $color-primario;
        font-family: $fuente-principal;
        display: none;

        li {
            font-size: 1rem;
            padding: 0.2em;
            text-align: center;
            list-style: none;

            a {
                font-family: $fuente-principal;
                text-decoration: none;
                color: $color-primario;
            }
        }
    }
}
